@import '../environment.module.scss';

//sidebar
.container {
  position: fixed;
  overflow: hidden;

  width: #{$sidebar-width};
  background: #2b6777;

  height: 100%;
  width: 48px;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  

  h1 {
    margin: auto 25%;
    width: 80%;
    align-items: baseline;
    color: #FFDDE2FF;
    top: 50px;
    border-radius: 10px;
  }
  //s-logo
  // .logo > img {
  //   width: 80%;
  //   margin: auto 5px;
  // }
  // .logo > img:first-child {
  //   margin-top: 30px;
  // }
  // .logo > img:last-child {
  //   margin-top: 0px;
  // }
  
  //icons
  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    margin-top: 270px;  
  }

  .sidebarItem {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;

    
    &:hover {
      opacity: 0.8;
    }
  }

  div {
   height: 10%;
   align-items: center;
  }
}