@import '../../environment.module.scss';

.container {
  height: 50vh;

  width: calc(100vw - #{$sidebar-width});

  padding-left: #{$sidebar-width};

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}


.container h1 {
  color: rgb(255, 255, 255);
  font-size: 45px;
  margin-top: 5%;
  font-family: 'Coolvetica';
  justify-content: center;
}

.container h2 {
  color: #b49034;
  font-size: 30px;
  font-family: LibreBaskerville-Bold;
  letter-spacing: 3px;
}  
  div {
    font-family: LibreBaskerville-Regular;
    color: aliceblue;
    font-size: 25px;
    
  }
  p {
    font-size: 15px;
    font-family: LibreBaskerville-Regular;

  }

  .cvSection h3{
    border-top: 1px dotted rgb(235, 6, 6);
    border-width: 4px; 
    color: #b49034;
    font-size: 30px;
    font-family: LibreBaskerville-Bold;
}

