@import '../../environment.module.scss';

.container {
  height: 50vh;

  width: calc(100vw - #{$sidebar-width});

  padding-left: #{$sidebar-width};
}

//Hello
h1 {
  position: absolute;
  top: 30%;
  left: 17%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  color: #12363f;
  font-family: 'GreatVibes-Regular';
  font-size: 60px;
  text-transform: uppercase;
  border-bottom: 3px solid  rgb(22, 19, 19);
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.4);
}
h1 span 
{
  position: relative;
  display: inline-block;
  animation: animate 1.5s linear infinite;
}
h1 span::before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #345660;
  animation: spanBorder 1.5s linear infinite ;
}
h1 span:nth-child(1), 
h1 span:nth-child(1):before 
  {
    animation-delay: 0s;
  }
h1 span:nth-child(2), 
h1 span:nth-child(2):before  
  {
    animation-delay: 0.2s;
  }
h1 span:nth-child(3), 
h1 span:nth-child(3):before  
  {
    animation-delay: 0.4s;
  }
h1 span:nth-child(4), 
h1 span:nth-child(4):before  
  {
    animation-delay: 0.6s;
  }
h1 span:nth-child(5), 
h1 span:nth-child(5):before  
  {
    animation-delay: 0.8s;
  }
h1 span:nth-child(6), 
h1 span:nth-child(6):before  
  {
    animation-delay: 1s;
  }
//h1 hello
@keyframes animate 
{
  0%
  {
    transform: translateY(0px);
  }
  10%
  {
    transform: translateY(-30px);
  }
  15%
  {
    transform: translateY(0px);
  }
  25%
  {
    transform: translateY(-20px);
  }
  30%
  {
    transform: translateY(0px);
  }
  40%
  {
    transform: translateY(-10px);
  }
  45%
  {
    transform: translateY(0px);
  }
  100%
  {
    transform: translateY(0px);
  }
}
//h1 hello
@keyframes spanBorder
 {
  0%
  {
    bottom: 0;
    height: 4px;
  }
  10%
  {
    bottom: -30px;
    height: 34px;
  }
  15%
  {
    bottom: 0;
    height: 4px;
  }
  25%
  {
    bottom: -20px;
    height: 24px;
  }
  30%
  {
    bottom: 0;
    height: 4px;
  }
  40%
  {
    bottom: -10px;
    height: 14px;
  }
  45%
  {
    bottom: 0;
    height: 4px;
  }
  100%
  {
    bottom: 0;
    height: 4px;
  }
}


h2 {
  position: absolute;
  top: 40%;
  left: 10%;
  color: black;
  font-weight: 400px;
  font-size: 20px;
  font-family: Tangerine-Bold;
  letter-spacing: 2px;
}

h3 {
  position: absolute;
  top: 53%;
  left: 11%;
  color: #151414;
  margin-top: 0px;
  font-weight: 400;
  font-size: 11px;
  font-family: sans-serif;
  letter-spacing: 3px;
}

  .logo img{   
    width: 17vh;
    margin-left: 80%;

    //up-down mover
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;

  } 

  .logo img:nth-child(2n) {
    margin-left: 65%;
    width: 17vh;
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(50px); }  
}


//Toggle

// div{
//   margin: 0;
//   color: black;
// }
// .darkmode-toggle{
//   background-color: black;
//   color: white;
// }

label{
  width: 60px;
  height: 25px;
  left: 90em;
  margin-top: 43em;
  // position: relative;
  background: rgb(226, 220, 220);
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(05, 0, 0, 0.4) inset 0px -5px 15x rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s; 
}
label:after{
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 4px;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
input{
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label{
  background: #242424;
}
input:checked + label:after{
  left: 50px;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}
label, label:after{
  transition: 0.3s;
}
label:active:after{
  width: 50px;
}
.background{
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: -1;
  position: absolute;
  transition: 0.3s;
}
input:checked + label + .background {
  background: #242424;
}