.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(83, 65, 65);
    border-radius: 15px;
    box-shadow: 8px 8px 15px 0 #ffffff, -5px -5px 7px 0 rgb(255, 255, 255), 5px 2px 20px 0 rgb(251, 251, 9);
    box-sizing: content-box; width: 50vh;
    
    
    h1 {
        height: fit-content;
        width: fit-content;
        // Text
        font-size: 40px;
        color: #be952e;
        align-items: center;  
        text-shadow: 0px 0px 3px;
    }
    
    .form {
        flex-direction: column;
}
    section {
        display: flex;
        flex-direction: column;
        
    label {
            color: rgb(253, 253, 253); 
            position: relative;
            gap: 0.5rem;
        }

    input {
            width: 200px;
            height: 30px;
            outline: none;
            border-radius: px;
            //name&mail box
            margin-top: 5px;           
        }

    //msg box
    textarea {

            width: 200px;
            height: 100%;
            padding: 20px;
            outline: none;
            border-radius: 4px;
            margin-top: 0.5rem;
        }
    }

    //send box
    input[type="submit"] {

        margin: 10px;
        padding: 5px 20px;
        font-size: 15px;
        text-align: center;
        background-color: #be952e;
        color: rgb(255, 255, 255);
        border-radius: 30px; 
        box-shadow: 0 3px;
        opacity: 0.7;
        cursor: pointer;

    &:hover {
        background-color: #cfca92;
    }
 }   
}
