.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     gap: 15px;
    // Length
    // width: 100vw;
    // height: 100vh;
    
    h1 {
        height: fit-content;
        width: fit-content;
        // Text
        font-size: 40px;
        color: #a78225;
        align-items: center;       
    }

    .form {
    flex-direction: column;
}
    section {
        display: flex;
        flex-direction: column;
        
        label {
            color: rgb(253, 253, 253); 
            position: relative;
            gap: 0.5rem;
        }

        input {
            width: 200px;
            height: 25px;
            padding: 4px;
            outline: none;
            border-radius: 4px;
            //name&mail box
            border: 1px solid rgb(200, 177, 177);
            margin-top: 0.5rem;           
        }

        //msg box
        textarea {

            width: 200px;
            height: 100%;
            padding: 20px;
            outline: none;
            border-radius: 4px;
            border: 1px solid rgb(220, 220, 220);
            margin-top: 0.5rem;
        }
    }

    //send box
    input[type="submit"] {
        margin-top: 2rem;
        cursor: pointer;
        background: #a78225;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 20px;        
    }
}