@import '../../environment.module.scss';

//sidebar
.container {
  position: absolute;

  width: #{$sidebar-width};
  background: hsl(0, 9%, 56%);

  height: 100%;
  width: 40px;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  //s-logo
  .logo > img {
    width: 80%;
    margin: auto 5px;
  }
  .logo > img:first-child {
    margin-top: 30px;
  }
  .logo > img:last-child {
    margin-top: 0px;
  }
  //icons
  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
  }

  .sidebarItem {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.8;
  }
}
}
