//global style
$primary-color: #6b5d09;


@font-face {
    font-family: 'KolkerBrush-Regular';
    src: url('./assets/fonts/KolkerBrush-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'LibreBaskerville-Bold';
    src: url('./assets/fonts/LibreBaskerville-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'LibreBaskerville-Italic';
    src: url('./assets/fonts/LibreBaskerville-Italic.ttf') format('ttf');
}
@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('./assets/fonts/GreatVibes-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'RubikMicrobe-Regular';
    src: url('./assets/fonts/RubikMicrobe-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Tangerine-Bold';
    src: url('./assets/fonts/Tangerine-Bold.ttf') format('ttf');
}


input,
textarea {
    font-family: 'KolkerBrush-Regular';
}